<%- include('partials/header') %> 

<main class="one-article_page">
    
    <div class="main_base-class">

    <img src="<%= oneArticleWant.picture  %>" alt="photo de l'article n°<%= oneArticleWant.id %>" class="one-article_page-img">

    <h2 class="one-article_page-title"><%= oneArticleWant.title  %></h2>

    <p class="one-article_page-content"><%= oneArticleWant.content %></p>

    </div>
   
        <a class="delete" href="/admin/<%= oneArticleWant.id %>">Delete</a>
    
        <button class="update">Update</button>
    
</main>

<%- include('partials/footer') %>    
</body>
</html>